<a href="https://colab.research.google.com/github/ksm001027/datascience/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
strVal = 'data science'               # 문자열 변수
nVal = 12345                          # 정수형 변수
fVal = 1.2                            # 실수형 변수
lVal = ['data', 'science']            # 리스트
dVal = {'lecture' : 'data science'}   # 딕셔너리
bVal = True                           # 논리형 변수(참/거짓)

In [ ]:
# 기본적인 주석

In [ ]:
''' 
이런 형태의 주석도 많이 사용
'''

In [ ]:
strVal

In [ ]:
nVal

In [ ]:
fVal

In [ ]:
lVal

In [ ]:
dVal

In [ ]:
bVal

In [ ]:
print('strVal : ', strVal)
print('nVal : ', nVal)
print('fVal : ', fVal)
print('lVal : ', lVal)
print('dVal : ', dVal)
print('bVal : ', bVal)

In [ ]:
print('strVal : ', type(strVal))
print('nVal : ', type(nVal))
print('fVal : ', type(fVal))
print('lVal : ', type(lVal))
print('dVal : ', type(dVal))
print('bVal : ', type(bVal))

In [ ]:
'''
같은 변수명일 경우, 이전 데이터를 덮어씀
'''
nVal = 16                          # 정수형 변수
fVal = 3.14                        # 실수형 변수

In [3]:
print('10진수 표현 : ', nVal)       # 10진수
print('2진수 표현 : ', bin(nVal))  # 2진수
print('8진수 표현 : ', oct(nVal))  # 8진수
print('16진수 표현 : ', hex(nVal))  # 16진수

10진수 표현 :  12345
2진수 표현 :  0b11000000111001
8진수 표현 :  0o30071
16진수 표현 :  0x3039

In [ ]:
btVal = True                           # 논리형 변수(참)
bfVal = False                          # 논리형 변수(거짓)

In [ ]:
btVal = TRUE                          # 논리형 변수(참) - 오류
bfVal = FALSE                          # 논리형 변수(거짓) - 오류

In [ ]:
btVal = true                          # 논리형 변수(참) - 오류
bfVal = false                          # 논리형 변수(거짓) - 오류

In [ ]:
10 == 11

In [ ]:
10 != 11

In [4]:

10 >= 11

False

In [ ]:
10 <= 11

In [ ]:
10 > 11

In [ ]:
10 < 11

In [ ]:
nBig = 100
nSmall = 10

In [ ]:
print(nBig == nSmall)
print(nBig != nSmall)
print(nBig >= nSmall)
print(nBig <= nSmall)
print(nBig > nSmall)
print(nBig < nSmall)

In [ ]:
print(nBig =< nSmall)     # 오류

In [ ]:
print(nBig => nSmall)     # 오류

In [ ]:
strData = 'data'               # 문자열 변수
strSci = "Science"             # 문자열 변수

In [ ]:
strLecture = strData + strSci

In [ ]:
strLecture

In [ ]:
strLecture = strData +" "+ strSci
strLecture

In [ ]:
strLecture.split()              # split()으로 공백을 기준으로 문자열 구분

In [ ]:
lSeperate = strLecture.split() # split()으로 공백을 기준으로 문자열 구분아혀 lSeperate 변수에 저장

In [ ]:
type(lSeperate)

In [ ]:
strHello = "안녕하세요. 반갑습니다."

In [ ]:
strHello.find("반갑")       # 문자열을 찾기 위해 find() 함수를 이용
                            # 문자열을 있으면, 첫번째 시작 인덱스를 반환

In [ ]:
strHello.find("hello")    # 문자열이 없으면, -1을 리턴

In [ ]:
"반갑" in strHello          # in 명령어를 사용하여 확인 가능 : if 조건문에서 활용

In [ ]:
strHello.replace('.', '?')    # .을 모두 ?로 변경

In [ ]:
strHello.replace('.', '?')                  
strHello.replace("하세요", "하셔유")       # 안녕하셔유? 가 될까요?

In [ ]:
strHello                      # 원본 데이터는 변하지 않음

In [ ]:
strNewHello = strHello.replace('.', '?')                    # strHello를 replace하여 strNewHello에 저장   
strNewHello = strNewHello.replace("하세요", "하셔유")       # strNewHello를 replace하여 strNewHello에 저장
strNewHello

In [ ]:
strHello.strip('반갑습니다.')    # strip()함수를 이용하여 "반갑습니다."를 제거

In [ ]:
strHello                    # 역시 원본 데이터는 변하지 않음

In [ ]:
lnData = [1,2,3,4,5]     # lnData를 리스트로 생성
print(lnData)
print('type : ', type(lnData))

In [ ]:
print(lnData[0])    # lnData 리스트의 0번 인덱스의 값 출력
print(lnData[3])    # lnData 리스트의 3번 인덱스의 값 출력

In [ ]:
lnData[0] = lnData[4]   # lnData[4]의 값을 lnData[0]에 저장
print(lnData)           # lnData 리스트를 출력

In [ ]:
print(lnData[2:4])      # lnData[4]에 저장된 5는 출력되지 않음

In [ ]:
lnData = [1,2,3,4,5]
lstrData=['a', 'b', 'c']

# 두 개의 서로다른 자료형을 가진 리스트를 병합
lnData + lstrData

In [ ]:
lnData.append(10)   # 10을 맨 뒤에 추가
lnData

In [ ]:
lnData.insert(0, 'python')  #'python'문자열을 0번 인덱스에 추가하고, 기존 인덱스에 저장된 데이터는 하나씩 뒤로 밀림(인덱스가 +1 추가)
lnData

In [ ]:
lnData.remove('python')     # 'python' 데이터를 삭제
lnData

In [ ]:
del lnData[5]              # del 명령어를 통해 인덱스를 지정하여 삭제
lnData

In [ ]:
lnData

In [6]:
lnData.pop(0)     # 0번 인덱스의 데이터를 삭제
lnData

NameError: ignored

In [5]:
lnData.pop()     # 인덱스 지정이 없으면, 마지막 인덱스의 값을 삭제
lnData

NameError: ignored

In [13]:
lnData.clear()  # 리스트의 모든 데이터를 삭제
lnData

NameError: ignored

In [26]:
# 튜플의 기본 구조
tVal = ("사과", "딸기", "바나나", "토마토", "키위")

print(tVal)
print(type(tVal))

('사과', '딸기', '바나나', '토마토', '키위')
<class 'tuple'>

In [27]:
# 튜플에 저장된 데이터는 변경이 불가능
tVal[0] = "포도"

TypeError: ignored

In [25]:
# count() 함수를 이용하여 튜플에 저장된 특정 데이터의 개수를 확인
tData = ( 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)
tData.count(1)

3

In [9]:
# len()함수를 이용하여 튜플에 저장된 전체 데이터 개수를 확인
len(tVal)

NameError: ignored

In [ ]:
len(tData)

In [ ]:
print(tData[2:5])

In [ ]:
tTuple = tVal+ tData
print(tTuple)

In [ ]:
tData * 2

In [ ]:
tData

In [ ]:
tData2 = tData * 2
print(tData2)

In [ ]:
print("tVal memory = ", hex(id(tVal)))
tVal = tVal * 2
print("tVal memory = ", hex(id(tVal)))
print(tVal)

In [7]:
print("tVal memory = ", hex(id(tVal)))
tVal = tVal + tVal
print("tVal memory = ", hex(id(tVal)))
print(tVal)

NameError: ignored

In [ ]:
from google.colab import files
myfile = files.upload()

Saving scores.csv to scores.csv

In [2]:
import io
import pandas as pd

In [3]:
sr = pd.Series([100, 200, 300, 400])
sr.index = ['A', 'B', 'O', 'AB']
sr

A     100
B     200
O     300
AB    400
dtype: int64

In [4]:
sr1 = pd.Series([10, 20, 30])
sr1

0    10
1    20
2    30
dtype: int64

In [5]:
df = pd.DataFrame({'키':[170, 180, 175], '몸무게':[65, 78, 70]})
df.index = ['스파이더맨', '닥터스트레인지', '아이언맨']
df

           키  몸무게
스파이더맨    170   65
닥터스트레인지  180   78
아이언맨     175   70

In [6]:
df = pd.read_csv('scores.csv', encoding='cp949')
df

        이름     국어   영어     수학
0     tony  100.0   90   95.0
1      sam   90.0   80   75.0
2   vision   95.0  100  100.0
3    peter  100.0  100  100.0
4    scott    NaN   35   60.0
5      tor   70.0   75   65.0
6    bruce   80.0   90   55.0
7     thor   50.0   60    NaN
8  steaven  100.0  100   90.0
9    wanda   90.0   95   70.0